//colors
$primaryColor:  #171716;
$secondaryColor: #c9a04f;
$accentColor: #454545;
$lightColor:#fafafa;
$darkColor:#262623;

// fonts
$primaryFont:'Montserrat', sans-serif;
$secondaryFont:'Comfortaa', cursive;
$handwritingFont:  'Lovers Quarrel', cursive;
